{{ define "main" }}
<div class="container">
  {{ range .Pages }}
    <div class="row">

      <div class="col"></div>
      <div class="col-8">
	<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      </div>
      <div class="col"></div>

    </div> <!-- row -->

    <div class="row text-align-right">
	<div class="col"></div>
	<div class="col-8">{{ .Description }}</div>      
	<div class="col"></div>
    </div>
    <div class="row">
	<div class="col"></div>
	<div class="col-8">{{ .Summary }}</div>
	<div class="col"></div>	
    </div>
    <div class="row">
	<div class="col"></div>
	<div class="col-8">{{ .Summary }}</div>
	<div class="col"></div>	
    </div>
  {{ end }}
</div>
{{ end }}
