{{ define "main" }}

<div class="container">
    {{- partial "content.html" . -}}
</div>

<div class="container">
    <div class="row mt-5 pt-5">
	{{ range .Pages }}
	<div class="col-lg-4">
	    <div class="card">
		<img class="card-img-top" width="470" height="265" src="{{ .Params.featured }}" />

		<div class="card-body">
		    <div class="card-title">
			<a class="card-link" href="{{ .Permalink }}">
			    <h5>{{ .Title }}</h5>
			</a>
		    </div>

		    <p class="card-text">
			{{ .Description }}
		    </p>

		    <p class="card-link">
			<a class="text-muted" href="{{ .Permalink }}">[Read more...]</a>
		    </p>

		</div>
	    </div>
	</div>
	{{ end }}
    </div>

</div>
{{ end }}
