{{ define "main" }}

<div class="container">
  {{- partial "content.html" . -}}
</div>

<div class="container-fluid">
    <div class="row mt-5 pt-5">
	{{ range .Pages }}
	<div class="col-lg-4">
	    <div class="card">
		<div class="card-body">
		    <div class="card-title">
			<a class="card-link" href="{{ .Permalink }}">
			    <h5>{{ .Title }}</h5>
			</a>
		    </div>
		    <p class="card-text">
			{{ .Description }}
		    </p>
		    <p class="card-link">
			<a class="text-muted" href="{{ .Permalink }}">[Read more...]</a>
		    </p>
		</div>
	    </div>
	</div>
	{{ end }}
    </div>

    <div class="row pt-4 pt-b">
	<div class="col"></div> <!-- col-2 -->
	<div class="col-8">
	    <article class="article">
		{{ .Content }}
	    </article>
	</div>
	<div class="col"></div> <!-- col-2 -->
    </div>

</div>
{{ end }}
