{{ define "main" }}
<div class="row">
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
	<h5 class="card-title mb-0">Introduction</h5>
      </div>
      <div class="card-body">
	<p>Put introduction text here</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6">
    <div class="card">
      <div class="card-header">
	<h5 class="card-title mb-0">Boiler Plates</h5>
      </div>
      <div class="card-body">
	<p>These are all blocks of Cut and Paste text</p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-header">
	<h5 class="card-title mb-0">Proposal One</h5>
      </div>
      <div class="card-body">

	<h3>This is a cool proposal</h3>

	Refering to <a target="_none" href="">This Job posting on Upwork</a>

	<p>Here is some text to place in the body of this thing</p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-header"><h5 class="card-title mb-0">Proposal Two</h5></div>
      <div class="card-body">
	<h3>This is a cool proposal</h3>

	<p>
	  Refering to <a target="_none" href="#">This Job posting on Upwork</a>
	</p>

	<p>Here is some text to place in the body of this thing</p>
	
      </div>
    </div>
  </div>
</div> 
{{ end }}
