{{ define "main" }}
<div class="row">
  <div class="col-6 col-lg-6">
    <div class="card">
      <div class="card-header">
	<h5 class="card-title mb-0">Introduction</h5>
      </div>
      <div class="card-body">
	<p>
	  This is the Generic "main" section.  It is enclosed in a
	  <i>card</i>, the elemental backing to almost all pieces
	  of dashboard information.
	</p>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-header">
	<h5 class="card-title mb-0">Boiler Plates</h5>
      </div>
      <div class="card-body">
	<p>These are all blocks of Cut and Paste text</p>
      </div>
    </div>
  </div>
</div> 
{{ end }}
