body {
    /* background: red;*/
}

.section-title {
    margin: 1.6rem auto;
    padding: 2rem auto;
}

.card {
    margin: 2rem auto;
}

.card-title {
    align: center;
    margin: 2rem auto;
    padding: 2rem auto;
    font-size: 1.4rem;
    font-weight: 400;
}
