{{ define "main" }}
<div class="container">
    <article>
        <div class="row">
            <div class="col-2 text-muted text-info">{{- dateFormat " (2006-01-02)" .Date -}}</div>
            <div class="col-8">
                <a href="{{ .URL }}">{{ .Title }}</a>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col">{{ .Content }}</div>
            <div class="col-2"></div>
        </div>
    </article>
</div>
{{ end }}
