body {
    background: white;
    color: #222222;
    font-family: times;
    font-size: 1.4rem;
    font-weight: 400;
}

h1, h2, h3, h5, h4, h6 {
    margin-top: 1.4rem;
    font-family: sans-serif;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

h1.header {
    color: maroon;
    font-size: 42px;
}

a {
    color: $primary;
}

.section-title {
    margin-top: 1.1rem auto;
}

.card {
    margin: 2rem auto;
}

.card-title {
    text-align: center;
    margin: 2rem auto;
    padding: 2rem auto;
    font-size: 1.2rem;
    font-weight: 400;
}

.single-page {
}

.footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.copyright {
    float: right;
    text-decoration: italic;
    font-size: 0.9rem;
}

.list-group-item {
    font-size: 1.0rem;
}

.home-image {
    background-size: 20px 30px;
}

blockquote {
    border: 1px solid black;
    padding: 2rem;
    @include 'blockquote';
}
