<!DOCTYPE html>
<html lang="en">
  {{ block "head" . }}{{ partial "head" . }}{{ end }}
  <body>
    <div class="wrapper">
      <div class="d-flex">
	{{ block "sidebar" . }}{{ partial "sidebar.html" . }}{{ end }}

	<div class="main">
	  {{ block "headnav" . }}{{ partial "headnav.html" . }} {{ end }}

	  <main class="content">
	    <div class="container-fluid p-0">
	      <div class="clearfix">
		<form class="form-inline float-right mt--1 d-none d-md-flex">
		  <button class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus align-middle"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg> New project</button>
		</form>
		<h1 class="h3 mb-3">Dashboard</h1>
	      </div>

	      {{ block "main" . }}{{ partial "home.html" . }}{{ end }}	      

	    </div>
	  </main>
	  {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
	</div>
      </div> 
    </div> 
    {{ block "footerjs" . }}{{ partial "footerjs.html" . }}{{ end }}
  </body>
</html>
  
