<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Proposals that Mobile Robots can Work on">
    <meta name="author" content="Rusty Eddy">
    <link href="https://rustyeddy.github.io/bsdash/css/app.css" rel="stylesheet">

    <title>{{ block "title" . }}Mobile Robots{{ end }}</title>
  </head>

  <body>
    <div class="wrapper">
      <div class="d-flex">
	{{- partial "sidebar.html" . -}}

	<div class="main">
	  {{- partial "headnav.html" . -}}

	  <main class="content">
	    <div class="container-fluid p-0">
	      <div class="clearfix">
		<form class="form-inline float-right mt--1 d-none d-md-flex">
		  <button class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus align-middle"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg> New project</button>
		</form>
		<h1 class="h3 mb-3">{{ .Title }} ~ Dashboard</h1>
	      </div>

	      {{ block "main" . }}
	      <div class="row">
		<div class="col-12">
		  {{- partial "card.html" . -}}
		</div>
	      </div>		   
	      {{ end }}

	  </main>
	  {{- partial "footer.html" . -}}
	</div>
      </div> 
    </div> 
    {{ block "footerjs" . }}
    <srcipt src="http://github.io/rustyeddy/bsdash/js/app.js"></srcipt>    
    {{ end }}
  </body>

</html>
